#Sat Jan 10 19:24:24 PST 2015
ldap.baseDn=\,dc=example\,dc=com
ldap.groupDn=ou=Groups
ldap.userDn=ou=People
ldap.userPre=cn=
ldap.groupPre=cn=
ldap.userFilter=(objectClass=OpenLDAPperson)
ldap.groupFilter=(objectClass=posixGroup)
ldap.initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
ldap.url=ldap://example.com:389
ldap.securityAuthentication=simple
ldap.securityPrincipal=cn=admin\,dc=example\,dc=com
ldap.securityCredentials=sUp3rS3cr3t
# user/group class can be an array or single objectc
ldap.userClass=OpenLDAPperson,shadowAccount, posixAccount
ldap.groupClass=posixGroup

# connector will parse each line as Ldap attrt, value type, schema name, field name
# try not to use extraneous whitespaces here.
OPP.userCustomMap.primaryPhone=mobileTelephoneNumber,string,urn:okta:example_onpremapp_1:1.0:user:custom,primaryPhone
OPP.userCustomMap.qweqweqwe=uidNumber,int,urn:okta:example_onpremapp_1:1.0:user:custom,qweqweqe
OPP.userCustomMap.int=gidNumber,int,urn:okta:example_onpremapp_1:1.0:user:custom,int
OPP.userCustomMap.number=favouriteDrink , double , urn:okta:example_onpremapp_1:1.0:user:custom , number
OPP.userCustomMap.homeDir=homeDirectory, string , urn:okta:example_onpremapp_1:1.0:user:custom , homeDir
OPP.userCustomMap.test= personalTitle,double,urn:okta:example_onpremapp_1:1.0:user:custom,number,test,test,test

# connector will parse as Okta attr, ldap attr
OPP.userCoreMap.login			=	userName,		uid
OPP.userCoreMap.familyName		=	familyName,		sn
OPP.userCoreMap.givenName		=	givenName,		givenName
OPP.userCoreMap.formattedName	=	formatted,		displayName
OPP.userCoreMap.id				=	id,				description
OPP.userCoreMap.password		=	password,		userPassword
OPP.userCoreMap.phoneNumbers	=	phoneNumbers,	telephoneNumber
OPP.userCoreMap.emails			=	emails,			mail

# connector will parse as Okta attr, ldap attr
OPP.groupCoreMap.members		=	members,		memberUid
OPP.groupCoreMap.id				=	id,				description
